{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'staticappstyles.css' %}">
</head>
<body>

<div class="h">

<h1>Heading</h1>

</div>

<div class="b">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error exercitationem illum nulla quae quis voluptates. Consequatur eaque earum eius, esse eum provident quasi repellendus saepe soluta, tenetur, veritatis voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad culpa dolorum eaque error et eum explicabo facere harum itaque, nisi nostrum numquam optio placeat quia, ratione rerum sapiente similique!</p>

</div>

</body>
</html>